header{
	height:80vh;
	color:$white;
	padding-top: 2rem;
	.container{
		height:60vh;
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		align-items:center;
		text-align:center;
	}
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
	.header-text{
		margin:auto;
		h2{
			font-size:8rem;
			font-weight: 300;
		}
	}
}

.main-header{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	text-transform: uppercase;
	a {
		color: white;
		padding: 10px;
		font-size:1.4rem;
		letter-spacing: 2px;
		&:hover {
			color: $green;
		}		
	}	
	h1 a{
		font-size:2.4rem;
		letter-spacing: 3px;
		font-weight: 500;
		&:hover{
			color:$white;
		}
	}

}

.site-branding{
	text-align: left;
}









