.main-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
  z-index: 1;
  a{
    color:$white;
  }
  h1 a {
    padding:0;
  }
  input[type=search]{
    color:$white;
  }  
  input[type=search]::-webkit-input-placeholder {
   color: $white;
   opacity:0.6;
 }

 input[type=search]:-moz-placeholder { /* Firefox 18- */
  color: $white;
  opacity:0.7;
}

input[type=search]::-moz-placeholder {  /* Firefox 19+ */
  color: $white;  
  opacity:0.7;   
}

input[type=search]:-ms-input-placeholder {  
 color: $white; 
 opacity:0.7;
}

}

ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		a {
			color:$white;
			padding: 10px;
			&:hover{
				color:$white;
			}
		}
	}
}


/*
====================================
Menu Hover Styles
====================================
*/

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: lighten($green, 10);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/*
====================================
Post Bottom Nav Styles
====================================
*/

.post-navigation{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:2em 0;
}

/*
====================================
Hamburger Menu Styles
====================================
*/

.fa.fa-close,
.fa.fa-bars{
  display: none;
}

.fa-bars,
.fa-close{
  cursor: pointer;
  position: relative;
  z-index: 80;  
}

.fa-close{
  color:$white;
}



